body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h1 {
    color: #343a40;
}

p {
    color: #6c757d;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

#results {
    font-size: 18px;
    color: #343a40;
}

.word, .draggable-word {
    display: inline-block;
    margin: 5px;
    padding:0px 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: move;
}
/*while hovering or dragging on the words they will scale up until released in the dropzone */
.word:hover, .draggable-word:hover {
    transform: scale(1.3);
    transition: 0.5s;
    margin: 1;
}
.draggable-word:active{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.dropzone, .dropzone-word {
    background-color: #15ff00;
    color: #000;
    min-height: 25px;
    max-height: 25px;
    min-width: 100px;
    display: inline-block;
    border: 1px dashed #ced4da;
    vertical-align: middle;
    border-radius: 5px;
    margin: 0;
}
/* Hide the default radio button */
.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .custom-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 2px solid blue; /* Add thicker blue border */
    border-radius: 50%;
  }
  
  /* Style the checked state */
  .custom-radio input:checked + .checkmark {
    background-color: #f0f0f0; /* Brighten the background */
  }
  

@media (min-width:440px) {
    body{
        text-align: center;
    }
}
