body {
    background-image: url(img/Petrol\ Blue-trellis-pattern.png);
    font-family: Arial, sans-serif;
    font-size: larger;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container{
    background-color: rgba(255, 255, 255, 0.979);
}

p {
    color: #6c757d;
    font-size: larger;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

#results {
    font-size: 18px;
    color: #343a40;
}

.word, .draggable-word {
    display: inline-block;
    margin: 4px;
    padding:0px 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: move;
}
/*while hovering or dragging on the words they will scale up until released in the dropzone */
.word:hover, .draggable-word:hover {
    transform: scale(1.3) rotate(-10deg);
    transition: 0.2s;
}
.draggable-word:active{
    transform: scale(1.3);
}

.dropzone, .dropzone-word {
    background-color: #15ff00;
    color: #000;
    min-height: 26px;
    max-height: 26px;
    min-width: 70px;
    display: inline-block;
    border: 1px dashed #ced4da;
    vertical-align: middle;
    border-radius: 5px;
    margin: 0;
}

input[type="radio"]{
    position: absolute;
    right: 10px;
}
input[type="radio"]:checked label {
        border: 2px solid #007bff;
    }

label:hover {
    background-color: #b6cfeb !important;
    cursor: pointer;
}


@media (min-width:440px) {
    body{
        text-align: center;
    }
    .table{
        text-align: start;
    }
    img{
        width: 35%;
    }
}
/*
Main color
#3C5871
shadow
#006666
user interaction
#F3A987
complementary color
#782E0C
air color Mainly text
#0F5D84
light color
#D4A118
*/